<!-- <div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"> -->



  <div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Le bateau de Thibault</strong>

    <img src="../../assets/images/TIG.png" height='340' width='260'>

    <p>
      06.63.99.99.78<br>
      lebateaudethibault@gmail.com<br>
      www.facebook.com/lebateaudethibault
    </p>

    <p>
      Qu'il est chaud le soleil<br>
      Quand nous sommes en vacances<br>
      Y a d'la joie, des hirondelles<br>
      C'est le sud de la France<br>
      Papa bricole au garage<br>
      Maman lit dans la chaise longue<br>
      Dans ce joli paysage<br>
      Moi, je me balade en tonge<br>
      <br>
      Que de bonheur!<br>
      Que de bonheur!<br>
    </p>
  </div>
</ion-content>
</div>

<!-- </div> -->
