ion-content {
  --background: #fff url('../../assets/images/background.png') no-repeat center center / cover;
}

h1 {
  color: white
}

img {
  display: block;
margin: auto;
width: 95%;
height: 100%;
}
