ion-content {
  --background: #fff url('../../assets/images/background.png') no-repeat center center / cover;
}

h1 {
  color: white
}

ion-grid.grid-bottom {
  position: relative;
  top: 30%;
}

.grid-bottom ion-buttons {
  margin-left: 17%;
}

.grid-bottom {
  display: relative;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0;
}

// .wrapper {
//   display: flex;
//   flex-wrap: wrap;
// }

b {
  grid-column: 1 / span 2;
  text-align: center;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  text-align: center;
}

.rectangle {
  background-color: rgba(128, 128, 128, 0.5);
  flex-grow: 1;
  flex-basis: 100;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.rectangle img {
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px; /* Ajustez la hauteur de l'image selon vos besoins */
}

.rectangle p {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 2%;
}

.btn-product {
  margin: 1%;
  width: calc(50% - 2%);
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
h1{
  font-family: 'Brush Script MT';
  color: #fff;
  font-size: 2.5em;
}
