ion-content {
    --background: #fff url('../../assets/images/background.png') no-repeat center center / cover;

}

ion-toolbar {
    --background: #000;
}
ion-content::before {
  content: "";
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 17%);
}
.transparent-button {
    --background: transparent;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}



img.centered-image {
    width: 32px; /* Adjust the width and height as needed */
    height: 32px;
}


h1 {
    text-align: center;
    margin-top: 0;
  }

  #colored-paragraph {

    padding: 10px;
    color: black;
    text-align: center;
    margin-top: 0;
  }

  .total-price-label {
    position: absolute;
    right: 10px;
  }


