ion-content {
  --background:  url('../../assets/images/background.png') no-repeat center center / cover;
}

.btn-product
{
  margin-bottom: 8%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

ion-toolbar{

  --background: black;
}
/*************************/



.toolbar-background
{
  background-color: black !important;
}

// #container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// #container p {
//   font-size: 16px;
//   color: #000000;
//   margin-bottom: 100px;
//   text-align: center;
// }

// #container strong {
//   font-size: 30px;
//   line-height: 90px;
//   margin-bottom: 30px;
//   margin-top: 30px;
//   text-align: center;
// }

// .transparent-button {
//   --background: transparent; /* Set the background of the button to transparent */
//   color: #ffffff; /* Set the text color to white (or your preferred color) */
//   margin-top: 0px;
//   margin-bottom: 0px;
// }

// ion-title {
//   align-items: center;
//   justify-content: center;
//   flex: 1;
// }

// img.centered-image {
//   width: 32px; /* Adjust the width and height as needed */
//   height: 32px;
// }
