ion-content {
  --background: #fff url('../../assets/images/background.png') no-repeat center center / cover;
  // --ion-font-family: 'Chinese Stxingka', cursive !important;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container strong {
  font-size: 30px;
  line-height: 90px;
  margin-bottom: 100px;
  margin-top: 30px;
  text-align: center;
}

#container p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 100px;
  text-align: center;
}


.transparent-button {
  --background: #00000021;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1{
  font-family: 'Brush Script MT';
  color: #fff;
  font-size: 2.5em;
}
